<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		
	<bean class="controller.controllerLogin" >
		<property name="authService" ref="authService" />
		<property name="daoGroup" ref="daoGroup" />
			
	</bean>
	<bean class="controller.controllerGroup" >
		<property name="daoGroup" ref="daoGroup" />
		<property name="daoMarket" ref="daoMarket" />		
	</bean>
	<bean class="controller.controllerUser" >
		<property name="daoUser" ref="daoUser" />
		<property name="authService" ref="authService" />
		<property name="userModifyService" ref="userModify" />
		<property name="userRegisterService" ref="userRegSvc" />
		<property name="changePasswordService" ref="changePwdSvc" />
	</bean>
	<bean class="controller.controllerMarket">
		<property name="daoMarket" ref="daoMarket" />
		<property name="daoGroup" ref="daoGroup" />
		<property name="daoUser" ref="daoUser" />
	</bean>
	<bean class="controller.controllerSearch">
		<property name="daoGroup" ref="daoGroup" />
		<property name="daoMarket" ref="daoMarket" />
	</bean>
</beans>
	