<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="jdbcUrl"
			value="jdbc:oracle:thin:@192.168.0.171:1521:xe" /> <!-- 192.168.0.171 -->
		<property name="user" value="db7" />
		<property name="password" value="1234" />
	</bean>		
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<bean id="daoUser" class="dao.DaoUser">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="daoGroup" class="dao.DaoGroup">
		<constructor-arg ref="dataSource" />
	</bean>
	<bean id="authService" class="login.AuthService">
		<property name="daoUser" ref="daoUser" />
	</bean>
	<bean id="userRegSvc" class="user.UserRegisterService">
		<constructor-arg ref="daoUser"/>
	</bean>
	<bean id="changePwdSvc" class="user.ChangePasswordService">
		<constructor-arg ref="daoUser"/>
	</bean>
</beans>
	