@CHARSET "UTF-8";

body {
	background-color: white;

}

select{
	font-size: 15px;
	width: 200px; 
}

~회원가입폼 글자 스타일~

#reg1 {
	color: #c0c0c0;
	font-family: 'Nanum Gothic', serif;
	font-weight: bold;
}

#reg2 {
	color: #c0c0c0;
	font-family: 'Nanum Pen Script', serif;
	
	font-size: 35px;
}

~회원가입폼 글자 스타일~

#naver{
	color: #9b0000;
	background-color: white;
}

#daum{
	color: #9b0000;
	background-color: white;
}

#nate{
	color: #9b0000;
	background-color: white;
}

#google{
	color: #9b0000;
	background-color: white;
}

#my_reg_form{
	margin-top: 10px;
	background-color: #353535; 
	width: 605px;
	height: auto;
	padding: 20px;
	color: white;
}

#my_reg_form #mytable{
	background-color: #ffffff;
	padding: 20px;
	border: 0px;
	width: 600px;
	color: black;
	table-layout: fixed;
}

#my_reg_form #mytable #left{
	text-align: right;
	width: 100px;	
}


#my_reg_form #id{
	width: 150px;	
}

#my_reg_form #confirmPassword{
	width: 150px;	
}

#my_reg_form #password{
	width: 150px;		
}

#my_reg_form #password{
	width: 150px;		
}

#my_reg_form #age{
	width: 60px;		
}

#my_reg_form #name{
	width: 90px;		
}

#my_reg_form #nickName{
	width: 90px;		
}

#my_reg_form #comment{
	overflow: hidden;
}

#my_reg_form #register, #my_reg_form #clear{ 
	width: 110px;	
}



 
 
 /* 그룹추가폼 */
 
 #groupAdd_form{
	margin-top: 10px;
	background-color: #ffffff; 
	width: 605px;
	height: auto;
	padding: 20px;
	color: fafafa;
}
 
 #groupAdd_form #groupTable{
 	background-color: #c0c0c0;
 	padding: 20px;
 	border: 0px;
 	width: 600px;
 	color: black;
 	table-layout: fixed;
 }
 
 #grpOpen {
 	text-align: center;
 }

#groupTable tr{
	width: 650px;
}
 
.tdLeft{
	text-align: left;
	width: 120px;	
}
 
#groupTable .tdRight{
 	width: 300px;	
}
 
 #groupAdd_form #groupTable #tdbottom{
 	text-align: center;
 }
 
 #tdopen {
 	text-align: left;
 }
 
 #btnbottom {
 	width: 130px;
 }

/* ~~~~~~~~~~ */


/* 회원수정폼 */

~회원가입폼 글자 스타일~

#mod1 {
	color: #c0c0c0;
	font-family: 'Nanum Gothic', serif;
	font-weight: bold;
}

#mod2 {
	color: #c0c0c0;
	font-family: 'Nanum Pen Script', serif;
	
	font-size: 35px;
}


#my_modi_form{
	margin-top: 10px;
	background-color: #353535; 
	width: 605px;
	height: auto;
	padding: 20px;
	color: white;
}


#my_modi_form #modifytable{
	background-color: #ffffff;
	margin-top:10px;
	padding: 20px;
	border: 0px;
	width: 600px;
	height: 400px;
	color: black;
	
}

#mdleft{
	text-align: left;
 	width: 120px;
}


#my_modi_form #modiId{
	width: 150px;
}

#my_modi_form #modiPass{
	width: 150px;
}

#my_modi_form #modiConfirmPass{
	width: 150px;
}

#my_modi_form #Name {
	width: 150px;
}
#my_modi_form #modiNickName {
	width: 150px;
}


#my_modi_form #modiAddress {
	width: 150px;
}

#my_modi_form #modiPhoneNum{
	width: 150px;
}


#grpIntro{
	padding: 5px;
}


#grpName, #grpLeader {
	padding: 3px;
}

#my_modi_form #Rmod, #my_modi_form #clear{ 
	width: 110px;	
	height: 22px;
}



---