@CHARSET "UTF-8";

body {
	background-color: white;

}

select{
	font-size: 15px;
	width: 200px; 
}

~회원가입폼 글자 스타일~

#reg2 {
	color: #c0c0c0;
	font-family: 'Nanum Gothic', serif;
	font-weight: bold;
}

#reg2 {
	color: #c0c0c0;
	font-family: 'Nanum Pen Script', serif;
	
	font-size: 35px;
}

~회원가입폼 글자 스타일~

#naver{
	color: #9b0000;
	background-color: white;
}

#daum{
	color: #9b0000;
	background-color: white;
}

#nate{
	color: #9b0000;
	background-color: white;
}

#google{
	color: #9b0000;
	background-color: white;
}

#my_reg_form{
	margin-top: 10px;
	background-color: #353535; 
	width: 605px;
	height: auto;
	padding: 20px;
	color: white;
}

#my_reg_form #mytable{
	background-color: #ffffff;
	padding: 20px;
	border: 0px;
	width: 600px;
	color: black;
	table-layout: fixed;
}

#my_reg_form #mytable #left{
	text-align: right;
	width: 90px;	
}


#my_reg_form #id{
	width: 150px;	
}

#my_reg_form #confirmPassword{
	width: 150px;	
}

#my_reg_form #password{
	width: 150px;		
}

#my_reg_form #password{
	width: 150px;		
}

#my_reg_form #age{
	width: 60px;		
}

#my_reg_form #name{
	width: 90px;		
}

#my_reg_form #nickName{
	width: 90px;		
}

#my_reg_form #comment{
	overflow: hidden;
}

#my_reg_form #register, #my_reg_form #clear{
	width: 110px;	
}

 
 
 /* 그룹추가폼 */
 
 #groupAdd_form{
	margin-top: 10px;
	background-color: #ffffff; 
	width: 605px;
	height: auto;
	padding: 20px;
	color: fafafa;
}
 
 #groupAdd_form #groupTable{
 	background-color: #c0c0c0;
 	padding: 20px;
 	border: 0px;
 	width: 600px;
 	color: black;
 	table-layout: fixed;
 }
 
 #grpOpen {
 	text-align: center;
 }
 
 #groupAdd_form #groupTable #tdleft{
 	text-align: left;
 	width: 120px;	
 }
 
 #groupAdd_form #groupTable #tdbottom{
 	text-align: center;
 }
 
 #tdopen {
 	text-align: left;
 }
 
 #btnbottom {
 	width: 130px;
 }

/* ~~~~~~~~~~ */


/* 회원수정폼 */

#form_modify{
text-align:center;
border: 1px solid #ccc;
width: 600px;
padding: 0px 50px 15px;
margin-top:20px;
box-shadow: 0 0 3px;
border-radius: 1px;
float:center;
height: 600px;
}


#form_modify #modi_table{
	background-color: #ffffff;
	margin-top:10px;
	padding: 20px;
	border: 0px;
	width: 600px;
	height: 400px;
	color: black;
	
}

#mdleft{
	text-align: left;
 	width: 120px;
}


#form_modify #modiId{
	width: 150px;
}

#form_modify #modiPass{
	width: 150px;
}

#form_modify #modiConfirmPass{
	width: 150px;
}

#form_modify #modiName {
	width: 150px;
}
#form_modify #modiNickName {
	width: 150px;
}
#form_modify #modiAge {
	width: 150px;
}
#form_modify #modiGender {
	width: 80px;

}

#form_modify #modiAddress {
	width: 150px;
}

#form_modify #modiPhoneNum{
	width: 150px;
}


#grpIntro{
	padding: 30px;
}


#grpName, #grpLeader {
	padding: 3px;
}

