@CHARSET "UTF-8";

* {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
}

a {
	color: black;
}

#body {
	margin: 0px;
}
/* header ~ */
#header {
	display: inline-block;
	width: 100%;
	height: 100px;
}

#logo {
	float: left;
	width: 15%;
	height: 100%;
	background-color: #B5E3D8;
	font-family: 'Baloo Da';
	font-size: 60px;
	text-align: center;
}

#logo a {
	text-decoration: none;
	color: #ffffff;
}

/* #M {
	font-size: 60px;
	color: #DF2935;
}

#G {
	font-size: 60px;
	color: #27394F;
}

#eMark{
	color:#27394F;
} */

#search {
	float: left;
	width: 20%;
	height: 100%;
	color: white;
	background: #B5E3D8;
	font-family: Comfortaa;
	line-height: 100px;
}

#search #srch, #srchTxt {
	height: 41px;
}

#menus {
	float: left;
	width: 35%;
	height: 100%;
	background-color: #B5E3D8;
}

.menus {
	margin-top: 30px;
	margin-left: 30px;
	float: left;
	padding-right: 30px;
	text-align: center;
	font-family: 'Jeju Gothic', serif;
}

#loginBox {
	float: left;
	width: 30%;
	height: 100%;
	background: #B5E3D8;
	color: white;
	font-family: Comfortaa;
	text-align: center;
	line-height: 100px;
}

.btn-style {
	-moz-box-shadow: inset 0px 1px 0px 0px #b5e3d8;
	-webkit-box-shadow: inset 0px 1px 0px 0px #b5e3d8;
	box-shadow: inset 0px 1px 0px 0px #b5e3d8;
	background-color: #776d61;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #b5e3d8;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 7px 24px;
	text-decoration: none;
	text-shadow: 0px 2px 4px #996765;
}

.btn-style1 {
	-moz-box-shadow: inset 0px 1px 0px 0px #b5e3d8;
	-webkit-box-shadow: inset 0px 1px 0px 0px #b5e3d8;
	box-shadow: inset 0px 1px 0px 0px #b5e3d8;
	background-color: #ffffff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #b5e3d8;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.btn-style:hover {
	background-color: #ad9d90;
}

.btn-style:active {
	position: relative;
	top: 1px;
}

.btn-style1:hover {
	background-color: #ad9d90;
}

.btn-style1:active {
	position: relative;
	top: 1px;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#f7ffec;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:4px 4px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f7ffec;
}
.myButton:active {
	position:relative;
	top:1px;
}





/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


#loginBox2 {
	position: absolute;
	top: 100px;
	right: 0px;
	width: 330px;
	height: 100px;
	background-color: #c0c0c0;
	display: none;
	font-size: 17px;
}

=======
}
/* ~ header */
/* submenu ~ */
#submenu {
	float: left;
	width: 15%;
	height: auto;
	min-height: 750px;
	background-color: #CCCCCC;
}
/* ~ submenu */
/* content ~ */
#content {
	float: left;
	width: 100%;
	height: auto;  /* calc(100% - 100px); */
	min-height: 1500px;
	min-width: 1000px;
	background-color: #fffdf4;
}

/* myGroup 나의그룹 */
#addBtn{
	position: fixed;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background-color: #B5E3D8;
	bottom: 50px;
	right: 50px;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	line-height: 70px;
	border:1px solid #dcdcdc;
}

/* 나의그룹 */
.mainGroups {
	float: left;
	width: 31%;
	height: 41%;
	margin: 1%;
	min-height: 240x;
	min-width: 240px;
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 0 1px;
	font-family: 'kopub batang';
	line-height: 1.5em;
	font-size: 17px;
}

/* 나의그룹 내용 */
#mainGrp2 {
	text-align: center;
}

/* 나의그룹 띠색깔 */
#main11 {
	float: top;
	background-color: #B5E3D8;
	height: 45px;
}

/* 그룹: 글자스타일 */
#groupName {
	color: black;
	font-size: 22px;
	font-family: 'Jeju Gothic', serif;
	font-weight: center;
	line-height: 40px;
}

/* 그룹이름: 글자스타일 */
#groupName2 {
	font-family: 'Nanum Pen Script', serif;
	font-size: 32px;
}
/* 그룹리더 글자간격 */
#groupLd {
	line-height: 40px;
}

/* 로그인x 나의그룹 눌렀을때 */
#myFirstLogin1{
	background-color: #FDDFDD;
	width: 60%;
	height:30%;
	margin-left: 200px;
	font-family: 'Nanum Pen Script', serif;
	font-size: 27px;
}

/* 회원가입폼에서 정보입력 없을때 로그인 폼  */
#registerFail1{
position: absolute;
 width: 500px;
 height: 500px;
 left: 50%;
 top: 50%;
 margin-left: -250px;
 margin-top: -250px;
 border: #000 solid 1px;
 background-color: #FDDFDD;
 font-family: 'Nanum Pen Script', serif;
 font-size: 27px;
}

#myCut{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap: break-word; 
}

/* 나의그룹end */

#mainCate {
	float: left;
	width: 234px;
	height: 100%;
/*  	border: 1px solid #ccc;
	box-shadow: 0 0 0px;
	background-color: white;
	margin-top: 30px; 
	margin-left: 5px; */
}

#demoGrp {
	float: left;
	display: inline-block;
	width: 900px;
	height: 100%;
}

#recomGrp {
	display: inline-block;
	width: 100%;
	height: auto;
	min-height: 130px;
	margin-left: 10%;
	margin-top: 2%;
	padding-bottom: 1%;
}

#newGrp {
	display: inline-block;
	width: 100%;
	height: 50%;
	margin-left: 10%;
}

.recomGrp {
	float: left;
	width: 80%;
	height: 150px;
	border: 1px solid #ccc;
	box-shadow: 0 0 0px;
	padding-top: 10px;
}

#rGrp {
	float: left;
	width: calc(98% - 150px);
	height: 250px;
	padding-left: 10px;
	font-family: 'Nanum Pen Script', serif;
	font-size: 26px;
}

.rSpan {
	font-family: 'kopub batang';
	font-size: 18px;
	font-weight: bold;
	color: graytext;
}

#mainCut {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap: break-word; 
}

#rImg {
	float: left;
	width: 150px;
	height: 100%;
}

#Total {
	margin-left: calc(50% - 625px);
	margin-right: calc(50% - 575px);
}

/* groupMain */

/* groupMain- 로그인 전 그룹 */
#groupmNotlg {
	display: inline-block;
	width: 600px;
	height: 60%;
	max-height: 600px;
	text-align: center;
	padding-top: 10px;
	/* background-color: #ffffff; */
	background-image: url('note.PNG'); 
	border: 1px dotted #ccc;
	box-shadow: 0 0 0px;
	font-family: 'Jeju Gothic', serif;
	line-height: 1.5em;
	font-size: 17px;
}

#grpInfo {
	padding-top: 10px;
	
	border: 1px dotted #ccc;
	background-color: white;
	width: 220px;
	height: 170px;
	text-align: center;
	
}

#grpCalendar {
	border: 1px dotted #ccc;
	background-color: white;
	padding-left: 10px;
	padding-top: 10px;
	float: left;
	width: 230px;
	height: auto;
	background-color: #ffffdd;
}

#board {
	padding-top: 10px;
	border: 1px dotted #ccc;
	float: left;
	width: 650px;
	min-height: 800px;
	height: auto;
	min-height: 800px;
	background-color:  #ffffdd;
}

#grpProduct {
	border: 1px dotted #ccc;
	background-color: #fefff4;;
	float: left;
	width: 250px;
	height: auto;
	min-height: 800px;
	background-color: #ffffdd;
}
.grpProducts{
	padding-top: 10px;
	padding-left: 10px;
	float: left;
	width: 100%;
	height: 110px;	
}

#btnWrite {
	float: right;
}

#btnOut {
	float: right;
}

#writeBoard {
	width: 600px;
	height: 600px;
	padding-left: 10px;
	text-align: center;
	font-size: 20px;
}


#geul {
	margin-top: 70px;
	margin-left: 10px;
	background-color: #ffffff;
	width: 630px;
	height: 220px;
	border-width:1px;	
    border-style:solid;
    border-color: #ccc;
}

#info {
	height: 130px;
	margin-top: 30px;
	padding-top: 20px;
	background-color:#fefff4;
	float: left; 
	width: 450px;
}

#brdPic {
	float: right; 
	width: 180px;
	height: 247px;
}

#btnDel {
	width: 180px; 
	padding-top: 5px; 
	padding-left: 145px;
}

#proImage {
	text-align: center; 
	padding-top: 20px;
}

#writer {
	
}

#writeDate {
	
}

#naeyong {
	
}


/* ~ content */
/* market~ */
#mktCate {
	float: left;
	width: 250px;
	height: 100%;
	border: 1px solid #ccc;
	box-shadow: 0 0 0px;
	background-color: white;
	margin-top: 30px; 
	line-height: 20px;
}

/* 글자수제한 */
#mktCut {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap: break-word; 
}

#product {
	float: left;
	width: 900px;
	height: 100%;
	margin-left: 50px;
}

.products {
	width: 450px;
	font-family: 'kopub batang';
	line-height: 23px;
	border: 1px solid #dbdbdb;
	border-radius: 5px; float : left;
	width: 440px;
	height: auto;
	min-height: 160px;
	padding-bottom: 20px;
	padding-right: 5px;
	padding-left: 5px;
	float: left; width : 440px; height : 150px; padding-bottom : 20px;
	padding-right : 5px; padding-left : 5px;
	background-color: #ffffe8;
}

/* 마켓- 구매페이지  */
#marketBuy{
position: absolute;
 width: 500px;
 height: 530px;
 left: 50%;
 top: 50%;
 margin-left: -250px;
 margin-top: -250px;
 border-width:5px;	
 border-color: #ccc;
 border-style:dotted solid;
 background-color: #ffffe8;
 font-family: 'kopub batang';
 font-size: 20px;

}

/* 마켓글쓰기 */
#writeBoard {
   width: 600px;
   height: 400px;
   padding-left: 10px;
   text-align: center;
   font-size: 20px;
}

/* ~market */
/* search~ */
#resultGroup {
	float: left;
	width: 50%;
	height: auto;
}

#resultMarket {
	float: left;
	width: 50%;
	height: auto;
}
/* ~search */

/* 그룹메인글쓰기 */
#writeBoard2 {
   width: 860px;
   height: 490px;
   padding-left: 10px;
   text-align: center;
   font-size: 20px;
}
#writeBoard3 {
	width: 800px;
	height: 440px;
	height: 540px;
	padding-left: 10px;
	text-align: center;
	font-size: 20px;
	border: 1px solid #ccc;
	box-shadow: 1px;
}

/* 마켓상품수정하기 */

#writeBoard4 {
	padding-top: 15px;
	width: 600px;
	height: 570px;
	margin-left: 70px;
	padding-left: 10px;
	text-align: center;
	font-size: 20px;
	border-style:outset;
    border-color: #ccc;
    box-shadow: 1px;
}
.errMsg{
	color: red;
}