@CHARSET "UTF-8";
*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	
}

a{
	color: black;
}
#body{
	margin: 0px;
}
/* header ~ */
#header{
	display: inline-block;
	width: 100%;
	height: 100px;
}
#logo{
	float: left;
	width: 15%;
	height: 100%;
	background-color: #B5E3D8;
	font-family: 'Baloo Da';
	font-size: 60px;
	text-align: center;
}
#logo a {
	text-decoration: none;
	color: white;
}
#M {
	font-size: 60px;f
	color: #B49173;
}

#G {
	font-size: 60px;
	color: #776d61;
}
#search{
	float: left;
	width: 20%;
	height: 100%;
	color: white;
	background: #B5E3D8;
	font-family: Comfortaa;
	line-height: 100px;
	
}

#search #srch, #srchTxt{
	height: 41px;
}


#menus{
	float: left;
	width: 35%;
	height: 100%;
	background-color: #B5E3D8;
	
}
.menus{
	margin-top:30px;
	margin-left: 30px;
	float: left;
	padding-right: 30px;
	text-align: center;
	font-family: 'Jeju Gothic', serif;
	
	
	
}
#loginBox{
	float: left;
	width: 30%;
	height: 100%;
	background: #B5E3D8;
	color: white;
	font-family: Comfortaa;
	text-align: center;
	line-height: 100px;
}


.btn-style{
	-moz-box-shadow:inset 0px 1px 0px 0px #b5e3d8;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b5e3d8;
	box-shadow:inset 0px 1px 0px 0px #b5e3d8;
	background-color:#776d61;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b5e3d8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 24px;
	text-decoration:none;
	text-shadow:0px 2px 4px #996765;
}

.btn-style1{
	-moz-box-shadow:inset 0px 1px 0px 0px #b5e3d8;
	-webkit-box-shadow:inset 0px 1px 0px 0px #b5e3d8;
	box-shadow:inset 0px 1px 0px 0px #b5e3d8;
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #b5e3d8;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 24px;
	text-decoration:none;
	
}

.btn-style:hover {
	background-color:#ad9d90;
}
.btn-style:active {
	position:relative;
	top:1px;
}

.btn-style1:hover {
	background-color:#ad9d90;
}
.btn-style1:active {
	position:relative;
	top:1px;
}

#loginBox2{
	position: absolute;
	top: 100px;
	right: 0px;
	width: 200px;
	height: 100px;
	background-color: #AAAAAA;
	display: none;
}
=======

}
/* ~ header */
/* submenu ~ */
#submenu{
	float: left;
	width: 15%;
	height: auto;
	min-height: 750px;
	background-color: #CCCCCC;
}
/* ~ submenu */
/* content ~ */
#content{
	float: left;
	width: 100%;
	height: calc(100% - 100px);
	min-height: 850px;
	min-width: 1000px;
	background-color: #fffdf4;
        
}

/* myGroup 나의그룹 */
#addGrpBtn, #addMrkBtn{
	position: fixed;
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background-color: #B5E3D8;
	bottom: 50px;
	right: 50px;
	font-size: 60px; 
	font-weight: bold; 
	text-align: center; 
	line-height: 70px;
}

/* 나의그룹 */
.mainGroups{
	float: left;
	width: 31%;
	height: 41%;
	margin: 1%;
	min-height: 240x;
	min-width: 240px;
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0 0 1px;
	font-family: 'kopub batang';
	line-height: 1.5em;
	font-size: 17px;
}

/* 나의그룹 내용 */
#mainGrp2{
	text-align: center;
}

/* 나의그룹 띠색깔 */

#main11 {
	float: top;
	background-color: #B5E3D8;
	height: 45px;
}


/* 그룹: 글자스타일 */ 
#groupName{
	color: black;
	font-size: 22px;
	font-family: 'Jeju Gothic', serif;
	font-weight: center;
	line-height: 40px;
}

/* 그룹이름: 글자스타일 */ 
#groupName2{
	font-family: 'Nanum Pen Script', serif;
	font-size: 32px;
}
/* 그룹리더 글자간격 */
#groupLd{
	line-height: 40px;
}

/* myGroup- 로그인 안했을때 */
#myFirstLogin1{
	background-color: fuchsia;
	height: 100%;
}

#myFirstLogin2 {
	padding-top: 100px;
	background-color: orange;	
	height: 40%;
}

#myFirstLogin3 {
	width: 60%;
	height: 100%;
	background-color: red;
}


/* 나의그룹end */

#mainCate{
	float: left;
	width: 250px;
	height: 100%;
	overflow: auto;
}
#demoGrp{
	float: left;
	display: inline-block;
	width: 900px;
	height: 100%;
}
#recomGrp{
	display: inline-block;
	width: 100%;
	height: 50%;
	margin-left: 10%;
	margin-top : 2%;
	padding-bottom: 1%;
}
#newGrp{
	display: inline-block;
	width: 100%;
	height: 50%;
	background-color: white;
	margin-left: 10%;
}
#thumbnailGrp{
	display: inline-block;
 	width: 20%;
 	height: 60%;
 	background-color: #555555;
}
.recomGrp{
	float: left;
	width: 80%;
	height: 120px;
	border: 1px solid #ccc;
	box-shadow: 0 0 0px;
}
#rGrp{
	float: left;
	width: calc(98% - 150px);
	height: 100%;
	padding-left: 10px;
}

#rImg{
	float: left;
	width: 150px;
	height: 100%;	
}
#Total{
	margin-left: calc(50% - 575px);
	margin-right: calc(50% - 575px);
}


/* groupMain */

/* groupMain- 로그인 전 그룹 */
#groupmNotlg{
	display: inline-block;
	width: 600px;
	height: 40%;
	text-align: center;
	padding-top: 10px;
	background-color: #ffffff;
	border: 1px dotted #ccc;
	box-shadow: 0 0 0px;
	font-family: 'Jeju Gothic', serif;
	line-height: 1.5em;
	font-size: 17px;
	
}



#grpCalendar{
	float: left;
	width: 250px;
	height: 100%;
	background-color: #dddddd;
}


#grpInfo{
	width: 230px;
	height: 150px;	
}
#btnWrite{
	float: right;
}
#btnOut{
	float: right;
}
#writeBoard{
	width: 800px;
	height: 420px;
}
#board{
	float: left;
	width: 650px;
	height: 100%;
	background-color: #cccccc;
}
#geul{
	width: 650px;
	height: 247px;
}
#info{
	
}
#writer{
	
}
#writeDate{
	
}
#naeyong{
	
}
#grpProduct{
	float: left;
	width: 250px;
	height: 100%;
	background-color: #bbbbbb;
}

/* ~ content */
/* market~ */
#mktCate{
	float: left;
	width: 250px;
	height: 100%;
	overflow: auto;
}

#product{
	float: left;
	width: 900px;
	height: 100%;
}
/* ~market */
/* search~ */
#resultGroup{
	float: left;
	width: 50%;
	height: auto;
}
#resultMarket{
	float: left;
	width: 50%;
	height: auto;
}
/* ~search */